/* 核酸采样记录 */
* {
	padding: 0;
	margin: 0;
	font-family: Sans-serif;
	list-style: none;
	text-decoration: none;
	font-style: normal;
}


.container {
	width: 980px;
	margin: 0 auto;
	background-color: #eef0f5;
	min-height: 100vh;
	overflow: hidden;

}


header,
footer {
	padding: 20px 43px;
	box-sizing: border-box;
}

header {
	height: 635px;
	margin-bottom: 50px;
	background-image: linear-gradient(180deg, #dff0ff, #fff);
	position: relative;
}



header>span {
	position: absolute;
	top: 260px;
	left: 43px;
	color: #26282e;
	font-size: 64px;
}

.info {
	width: 500px;
	height: 150px;
	/* border: 1px red solid; */
	position: absolute;
	top: 400px;
	left: 43px;
}

.infotop {
	height: 80px;
	line-height: 80px;
	/* border: 1px solid green; */
}

.yj1 {
	/* margin-top: 10px; */
	float: left;
	width: 64px;
	height: 64px;

	/* background-color: #008000; */
	/* border: 1px solid skyblue; */
	background: url(../img/yj-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.yj2 {

	/* margin-top: 10px; */
	float: left;
	width: 64px;
	height: 64px;
	display: none;

	background: url(../img/yj-2.jpg);

	background-size: 100%;
}

.xm {
	font-size: 60px;
	color: #1f1f1f;
	font-weight: 500;
	margin-left: 15px;
	letter-spacing: 2px;
	/* color: red; */
}

.sfzhm {
	margin-top: 12px;
	padding-left: 10px;
	font-size: 35px;
	/* font-size: 44px; */
	font-weight: 700;
	color: #636476;
	/* color: red; */
}




/* 476 */
main ul {
	background: #fff;
	/* height: 770px; */
	color: #525666;
	margin-bottom: 50px;
	font-weight: 500;
	padding: 10px 42px 42px;
	/* border: 1px saddlebrown solid; */
}

main li {
	border-bottom: 2px solid #d2d2d3;
	height: 140px;
	line-height: 140px;
	font-size: 50px;
	display: flex;
	justify-content: space-between;
	/* border: 1px saddlebrown solid; */
}

/* 需要有边框,不然会变形 */
main li i {
	border: 1px solid transparent;
	color: #26282e;

}

main li input {
	color: #26282e;
	width: 400px;
	font-size: 50px;
	text-align: right;
	border: 0;
	outline: 0 none;
}

/* main li:nth-child(1) {
	font-size: 55px;
	font-weight: 700;
	color: #26282e;
}
 */



footer {
	padding-top: 0;
	padding-bottom: 60px;
}


footer p {
	color: #62667a;
	font-size: 40px;
	font-weight: 500;

}

footer p:nth-child(1) {
	color: #27282e;
	font-size: 56px;
	font-weight: bold;
	margin-bottom: 20px;
}
