* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Sans-serif;
	font-style: normal;
	box-sizing: border-box;
}

body {
	background-color: #000;
}

.container {
	width: 980px;
	margin: 0 auto;
	background-color: #eef0f5;
}

header {
	background: url(../img/c1bg.jpg);
	width: 980px;

	height: 600px;
	background-size: 100%;
}

main {
	color: #1d1f24;
	background-color: #fff;
	border-radius: 60px;
	width: 894px;
	margin: 0 auto;
	padding: 45px;
	margin-top: -100px;

}

main p {
	font-size: 44px;
	line-height: 1.3;
	margin-bottom: 30px;
}

main ul {}

main ul li {
	height: 170px;
	line-height: 170px;
	font-size: 56px;

	border-bottom: 2px solid #ccc;

	display: flex;
	justify-content: space-between;
}


footer {
	padding-bottom: 60px;
}
