* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-style: normal;
	font-family: Sans-serif;
	box-sizing: border-box;

}

body {
	background-color: #000;
}

.container {
	width: 980px;
	margin: 0 auto;
	background-color: #eef0f5;
	font-size: 56px;
	padding: 0 43px;
	min-height: 100vh;
}

/* 亲友健康码 */
main {
	padding-top: 100px;
}

main li {
	height: 260px;
	line-height: 260px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	margin-bottom: 50px;
	border-radius: 60px;
	box-shadow: 0 0 30px 10px #e1e3eb;
}

.left {

	height: 260px;

	/* border: 1px solid red; */
	position: relative;
}

.left p {
	width: 600px;
}

.left p:nth-child(1) {
	/* border: 1px solid green; */

	position: absolute;
	top: 50px;
	height: 80px;
	line-height: 80px;
	/* color: red; */
	font-size: 64px;
}

.left p:nth-child(2) {
	/* border: 1px solid blue; */

	position: absolute;

	top: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 48px;

}





/* 第一行 */
main li:nth-child(1) p {
	color: #27282e;
}

main li:nth-child(1) img {
	vertical-align: middle;
	margin-right: 20px;
	width: 72px;

}

/* 第二行 */
main li div.left {
	color: #3858e6;
	font-size: 64px;
}

/* 第三行 */
main li:nth-child(3) p.p1 {
	color: #00a870;
}

main li:nth-child(3) p.p2 {
	color: #62667a;
}
