* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-style: normal;
	font-family: Sans-serif;
	box-sizing: border-box;

}

body {
	background-color: #000;
}

.container {
	width: 980px;
	margin: 0 auto;
	background-color: #eef0f5;
	font-size: 56px;
	padding: 0 43px;
	min-height: 100vh;
}

/* 亲友健康码 */
main {
	padding-top: 100px;
}

main ul {
	height: 578px;
	box-shadow: 0 0 30px 10px #e1e3eb;
	margin-bottom: 50px;
	background-color: #fff;
	border-radius: 60px;
	text-align: center;
	border: 6px solid #d8dde6;
	border-bottom: none;
}


main li img {
	width: 190px;
	margin-top: 70px;
	padding-bottom: 40px;

}

main li:nth-child(2) {
	/* font-size: 48px; */
	color: #3858e6;
}

main li:nth-child(3) {
	font-size: 48px;
	color: #62667a;
	font-size: 44px;

	margin: 30px auto;
	width: 630px;
}

main ul:nth-child(2) li:nth-child(3) {
	width: 750px;
}




footer {
	padding: 60px 0;

}

footer p {
	margin: 0 auto;
	width: 520px;
	font-size: 44px;
	color: #525666;
	text-align: center;

}
