* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Sans-serif;
}

body {
	background-color: #000;
}

.container {
	width: 980px;
	margin: 0 auto;
	/* background-color: #eef0f5; */
}

header ul {}


main a {
	color: #fff;
	background-color: #1989fa;
	width: 894px;
	height: 110px;
	text-align: center;
}
