* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Sans-serif;
}

/* "Microsoft YaHei", "Heiti SC", tahoma, arial, "Hiragino Sans GB",*/

body {
  background-color: #000;
}

:root {
  --border-color: #e2992a;
  --border-color: #e3982b;

  --border-color1: #fee318;
  --border-color2: green;
  --border-color3: red;
  --text-color: #405ae0;
  --text-color1: #404040;
  --text-color: #676476;
}

body {
  background-color: #000;
}

/* ************ 大盒子 ************ */
.container {
  width: 980px;
  margin: 0 auto;
  background-color: #eef0f4;
  /* background-color: red; */
}

/* ************ 头部 ************ */
header {
  width: 980px;
  height: 290px;
  margin: 0 auto;
  display: block;
  background-image: url(../img/hdbg.jpg);
  position: relative;
  z-index: 2;
}
header a {
  display: block;
  width: 100px;
  height: 100px;
  /* border: 1px solid red; */
}

/* ************ 主区域 ************ */
.main {
  width: 890px;
  margin: 0 auto;
  /* overflow: hidden; */
}

/* ************ a区域 ************ */
.a {
  width: 100%;
  height: 1470px;
  background: url(../img/a.jpg);
  position: relative;
  background-size: 100%;
  box-shadow: 0 0 30px 20px #e1e3eb;
  border-radius: 60px;
  margin-bottom: 48px;
}

#Date {
  position: absolute;
  top: 250px;
  left: 130px;
  color: #1f1f1f;
  font-size: 57px;
  font-weight: 700;
  font-size: 62px;
}

.content {
  /* padding-top: 622px; */
  padding-top: 350px;
  position: relative;
}

.info {
  width: 500px;
  height: 150px;
  /* border: 1px red solid; */
  position: absolute;
  top: 35px;
  left: 50px;
}

.infotop {
  height: 70px;
  line-height: 70px;
  /* border: 1px solid green; */
}

.yj1 {
  float: left;
  width: 64px;
  height: 64px;
  background: url(../img/yj-1.jpg);
  background-size: 100%;
}

.yj2 {
  float: left;
  width: 64px;
  height: 64px;
  display: none;
  background: url(../img/yj-2.jpg);
  background-size: 100%;
}

.xm {
  float: left;
  font-size: 56px;
  font-size: 60px;
  color: #1f1f1f;
  font-weight: 500;
  margin-left: 15px;
  letter-spacing: 2px;
  /* color: red; */
}

.sfzhm {
  margin-top: 12px;
  padding-left: 10px;
  font-size: 40px;
  font-size: 44px;
  font-weight: 700;
  color: #636476;
  /* color: red; */
}

/* 598 */
.box {
  width: 590px;
  height: 590px;
  margin: 0px auto;
  background-color: var(--border-color);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

/* 598-574=24 

516
492
472

*/

.box::before {
  position: absolute;
  content: "";
  width: 570px;
  height: 570px;
  top: 10px;
  left: 10px;
  border-radius: 12px;
  /* 健康码绿码图片 */
  background: url(../img/jkm.jpg) no-repeat center;
  background-color: #fff;
  z-index: 1;
}

/* 右上 --> 左上 */
.box span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 16px;
  background: linear-gradient(
    to left,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate1 0.75s linear infinite;
  -webkit-animation: animate1 0.75s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate1 {
  0% {
    transform: translateX(590px);
  }

  100% {
    transform: translateX(-300px);
  }
}

/* 右下 --> 右上 */
.box span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 300px;
  background: linear-gradient(
    to top,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate2 0.75s linear infinite;
  -webkit-animation: animate2 0.75s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translateY(590px);
  }

  100% {
    transform: translateY(-300px);
  }
}

/* 右下 --> 左下 */
.box span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 16px;
  background: linear-gradient(
    to left,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate3 0.75s linear infinite;
  -webkit-animation: animate3 0.75s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(590px);
  }

  100% {
    transform: translateX(-300px);
  }
}

/* 左下上 --> 左上 */
.box span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 300px;
  background: linear-gradient(
    to top,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate4 0.75s linear infinite;
  -webkit-animation: animate4 0.75s linear infinite;
  /* 增加延迟以实现连续性 */
  animation-delay: 0.5s;
}

@keyframes animate4 {
  0% {
    transform: translateY(590px);
  }

  100% {
    transform: translateY(-300px);
  }
}

/* 身份证 */
.sfz {
  width: 598px;
  height: 598px;
  margin: 0px auto;
  display: none;
  background: url(../img/lyf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  position: relative;
  border-radius: 25px;
  box-shadow: #f4f4f4 0px 0px 10px 10px;
}

/* 亮码 */
.lm {
  position: absolute;
  width: 114px;
  height: 167px;
  top: 482px;
  right: 25px;
  background: url(../img/lm2.jpg);
  background-size: 100% 100%;

  border-radius: 0 25px 0 0;
  /* 	border: 1px solid #e3e4e9;
	border: 2px solid red;
	border-left: 1px solid transparent;
	box-sizing: border-box; */
}

/* 人像 */
.rx {
  position: absolute;
  width: 114px;
  height: 167px;
  top: 649px;
  right: 25px;
  background: url(../img/rx1.jpg);
  background-size: 100% 100%;

  border-radius: 0 0 25px 0;
  /* border: 1px solid #e3e4e9;
	border: 2px solid red;
	border-left: 1px solid transparent;
	box-sizing: border-box; */
}

/* 扫一扫*/
.qylm {
  position: absolute;
  top: 70px;
  right: 60px;
  /* margin: 130px auto; */
  width: 220px;
  height: 50px;
  display: block;
  /* border: 1px solid red; */
}

.sys {
  margin: 130px auto;
  width: 580px;
  height: 122px;
  display: block;
  /* border: 1px solid red; */
  border-radius: 61px;
}

/* 行程卡 */
.xck {
  display: block;
  margin-top: -75px;
  height: 210px;
  width: 100%;
  /* border: 1px solid red; */
}
/* 
 
 128     167
 
 */
.b {
  width: 890px;
  height: 271px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

/* 核酸检测 */
.b1 {
  width: 426px;
  height: 272px;
  background: url(../img/b1.jpg);
  /* border: 1px solid red; */
}

/* 疫苗接种 */
.b2 {
  width: 426px;
  height: 272px;
  background: url(../img/b2.jpg);
}

.c,
.d {
  background-color: #fff;
  padding-left: 50px;
  padding-top: 18px;
  /* border: 1px turquoise solid; */
  padding: 18px 50px 8px;
}

.b1,
.b2,
.c,
.d {
  border-radius: 60px;
  margin-bottom: 48px;
  background-size: 100% 100%;
  box-shadow: 0 0 30px 10px #e1e3eb;
}

/* ************ c区域 ************ */
/* 图标文字浮动 */
.c li,
.d li {
  display: flex;
  justify-content: start;
  height: 210px;
  align-items: center;
  border-bottom: 3px solid #d2d2d3;
}

/* 没有下划线 */
.c li:last-child,
.d li:last-child {
  border-bottom: none;
}

.c li a,
.d li a {
  color: #1d1f24;
  font-size: 60px;
  font-weight: 700;
  margin-left: 35px;
  /* color: red; */
}

.c li i,
.d li i {
  width: 90px;
  height: 90px;
  /* background: url(../img/a1.jpg); */
  background-size: 100% !important;
}

.c li:nth-child(1) i {
  background: url(../img/c1.jpg);
}

.c li:nth-child(2) i {
  background: url(../img/c2.jpg);
}

.c li:nth-child(3) i {
  background: url(../img/c3.jpg);
}

.c li:nth-child(4) i {
  background: url(../img/c4.jpg);
}

.c li:nth-child(5) i {
  background: url(../img/c5.jpg);
}

.c li:nth-child(6) i {
  background: url(../img/c6.jpg);
}

.c li:nth-child(7) i {
  background: url(../img/c7.jpg);
}

.d li:nth-child(1) i {
  background: url(../img/d1.jpg);
}

.d li:nth-child(2) i {
  background: url(../img/d2.jpg);
}

.d li:nth-child(3) i {
  background: url(../img/d3.jpg);
}

.d li:nth-child(4) i {
  background: url(../img/d4.jpg);
}

/* ************ c区域 ************ */
/* ************ c区域 ************ */
/* ************ c区域 ************ */

footer {
  color: #62667a;
  width: 894px;
  margin: 0 auto;
  font-size: 40px;
}

table {
  padding-bottom: 100px;
}

table tr > th {
  text-align: center;
  /* width: 100%; */
  /* border: 1px solid red; */
  font-size: 45px;
  font-weight: 400;
  color: #27282e;
}

table tr td {
  vertical-align: text-top;
}

table tr td:first-child {
  width: 200px;
  /* border: 1px solid red; */
}

table tr td:last-child {
  width: 654px;
}

table tr {
  height: 77px;
  /* margin-bottom: 20px; */
}

table tr:nth-child(1),
table tr:nth-child(2),
table tr:nth-child(3) {
  height: 150px;
}

table tr:nth-child(4) {
  height: 180px;
}

table tr:nth-child(7) td {
  /* border: 1px solid red; */
}

table tr:nth-child(7) img {
  /* align-items: center; */
  /* vertical-align: text-top; */
  /* vertical-align: sub; */
  vertical-align: middle;
}

/* 

414       36

207  43  

76
980-
 
 */
