* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-family: Sans-serif;
  box-sizing: border-box;
}

:root {
  --border-color: #e2992a;
  --border-color: #e3982b;

  --border-color1: #fee318;
  --border-color2: green;
  --border-color3: red;
  --text-color: #405ae0;
  --text-color1: #404040;
  --text-color: #676476;
}

body {
  background-color: #000;
}

.container {
  width: 980px;
  margin: 0 auto;
  background-color: #eef0f5;
  background-image: linear-gradient(180deg, #d3f3e0, #eef0f4, #eef0f5);
  /* font-size: 56px; */
  padding: 60px 50px;
  min-height: 100vh;
}

header {
  margin-top: 100px;
  width: 890px;
  height: 1140px;
  background: url(../img/qylm-bg.jpg);
  position: relative;
  background-size: 100%;
  /* box-shadow: 0 0 30px 20px #e1e3eb; */
  border-radius: 60px;
  margin-bottom: 48px;
}

#Date {
  position: absolute;
  top: 280px;
  left: 130px;
  color: #1f1f1f;
  font-weight: 700;
  font-size: 56px;

  /* color: red; */
}

.content {
  /* padding-top: 622px; */
  padding-top: 380px;
  position: relative;
  /* border: 1px solid red; */
}

.info {
  width: 500px;
  height: 150px;
  /* border: 1px red solid; */
  position: absolute;
  top: 35px;
  left: 50px;
}

.infotop {
  height: 70px;
  line-height: 70px;
  /* border: 1px solid green; */
}

.yj11 {
  float: left;
  width: 64px;
  height: 64px;
  background: url(../img/yj-1.jpg);
  background-size: 100%;
}

.yj22 {
  float: left;
  width: 64px;
  height: 64px;
  display: none;
  background: url(../img/yj-2.jpg);
  background-size: 100%;
}

.xm2 {
  float: left;

  font-size: 60px;
  color: #27282e;
  font-weight: 500;
  margin-left: 15px;
  letter-spacing: 2px;
  /* color: red; */
}

.sfzhm2 {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 40px;

  font-weight: 700;
  color: #919fac;
  /* color: red; */
}

/* 598 */
.box {
  width: 590px;
  height: 590px;
  margin: 0px auto;
  background-color: var(--border-color);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

/* 598-574=24 

516
492
472

*/

.box::before {
  position: absolute;
  content: "";
  width: 570px;
  height: 570px;
  top: 10px;
  left: 10px;
  border-radius: 12px;
  /* 健康码绿码图片 */
  background: url(../img/jkm.jpg) no-repeat center;
  background-color: #fff;
  z-index: 1;
}

/* 右上 --> 左上 */
.box span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 16px;
  background: linear-gradient(
    to left,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate1 0.75s linear infinite;
  -webkit-animation: animate1 0.75s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate1 {
  0% {
    transform: translateX(590px);
  }

  100% {
    transform: translateX(-300px);
  }
}

/* 右下 --> 右上 */
.box span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 300px;
  background: linear-gradient(
    to top,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate2 0.75s linear infinite;
  -webkit-animation: animate2 0.75s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translateY(590px);
  }

  100% {
    transform: translateY(-300px);
  }
}

/* 右下 --> 左下 */
.box span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 16px;
  background: linear-gradient(
    to left,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate3 0.75s linear infinite;
  -webkit-animation: animate3 0.75s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(590px);
  }

  100% {
    transform: translateX(-300px);
  }
}

/* 左下上 --> 左上 */
.box span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 300px;
  background: linear-gradient(
    to top,
    var(--border-color),
    var(--border-color1),
    var(--border-color)
  );
  animation: animate4 0.75s linear infinite;
  -webkit-animation: animate4 0.75s linear infinite;
  /* 增加延迟以实现连续性 */
  animation-delay: 0.5s;
}

@keyframes animate4 {
  0% {
    transform: translateY(590px);
  }

  100% {
    transform: translateY(-300px);
  }
}

.lvma {
  color: #2ba566;
  text-align: center;
  font-size: 48px;
  font-weight: 700;

  margin: 25px auto;
}

.b {
  width: 890px;
  height: 272px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

/* 核酸检测 */
.b1 {
  background: url(../img/b1.jpg);
}

/* 疫苗接种 */
.b2 {
  background: url(../img/b2.jpg);
}

.b1,
.b2 {
  width: 426px;
  height: 272px;
  background-size: 100%;
  border-radius: 60px;
}

/* ---------------------------------------- */
.c,
.d {
  background-color: #fff;
  padding-left: 50px;
  padding-top: 18px;
  /* border: 1px turquoise solid; */
  padding: 18px 50px 8px;
}

.b1,
.b2,
.c,
.d {
  border-radius: 60px;
  margin-bottom: 48px;
  background-size: 100% 100%;
  box-shadow: 0 0 30px 10px #e1e3eb;
}

/* ************ c区域 ************ */
/* 图标文字浮动 */
.c li {
  display: flex;
  justify-content: start;
  height: 210px;
  align-items: center;
  border-bottom: 3px solid #d2d2d3;
}

/* 没有下划线 */
.c li:last-child {
  border-bottom: none;
}

.c li a {
  color: #1d1f24;
  font-size: 60px;
  font-weight: 700;
  margin-left: 35px;
  /* color: red; */
}

.c li i {
  width: 90px;
  height: 90px;
  /* background: url(../img/a1.jpg); */
  background-size: 100% !important;
}

.c li:nth-child(1) i {
  background: url(../img/c2.jpg);
}

.c li:nth-child(2) i {
  background: url(../img/c6.jpg);
}
