* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-family: Sans-serif;
    outline: none;
    border: 0;
}

body {
    background-color: #000;
}

.container {
    width: 980px;
    margin: 0 auto;
    background-color: #2ba568;
    overflow: hidden;
    padding-top: 50px;
}
/* ------------ 头部 ------------ */
header {
    text-align: center;
    padding-top: 80px;
}
header p {
    color: #fff;
    font-size: 42px;
    margin: 50px;
    /* font-size: 36px; */
}
/* ------------ 主体 ------------ */
main {
    width: 850px;
    height: 1020px;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
}
main .title {
    height: 80px;
    position: relative;
    z-index: 1;
    /* border: 1px solid skyblue; */
}
.t1 {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #d5ede0;
    z-index: -2;
}

.t2 {
    height: 66px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    font-size: 12px;
    color: #666;
    line-height: 80px;
    /* background: blue; */
    z-index: -1;
    /* 000 */
    color: #2ba568;
    font-size: 36px;
    font-weight: 700;
}

.t2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d5ede0;
    border-radius: 0 0 15px 15px;
    transform: perspective(36px) scale(1.1, 1.5) rotateX(-5deg);
    z-index: -3;
}
.t3 {
    position: absolute;
    top: 20px;
    /* color: #2ba568; */
    font-size: 36px;
    font-weight: 700;
}
.content p:nth-child(1) input {
    font-size: 42px;
    font-weight: 700;
    width: 270px;
}
.content p:nth-child(1) {
    font-size: 42px;
    font-weight: 700;
    margin: 40px;
}
.content p:nth-child(2) {
    font-size: 48px;
    color: #9e9e9e;
}

.content p:nth-child(3) img {
    height: 450px;
    margin: 40px;
}

.content p:nth-child(4) {
    width: 88.8%;
    margin: 20px auto;
    border-top: 5px solid #e9e9e9;
}
.content p:nth-child(5) {
    width: 88.8%;
    margin: 0 auto;
    font-size: 51px;
    text-align: start;
}
.content p:nth-child(5) span {
    color: #9e9e9e;
}
.content p:nth-child(5) input {
    font-size: 51px;
    font-weight: 700;
}

/* ------------ 底部 ------------ */
footer {
    color: #fcfefd;
    text-align: center;
    padding-bottom: 20px;
}
footer p {
    margin: 20px;
}
footer p:nth-child(1),
footer p:nth-child(2) {
    font-size: 27px;
}
footer p:nth-child(3) {
    margin-top: 30px;
}
footer p:nth-child(3) span {
    letter-spacing: 3px;
}

footer p:nth-child(3),
footer p:nth-child(5) {
    font-size: 30px;
}
footer p:nth-child(4) {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer p img {
    height: 54px;
}

/* ------------ 底边栏 ------------ */
aside {
    display: flex;
    background-color: #f8f8f8;
    padding: 15px 0;
}

aside p {
    font-size: 32px;
    font-weight: 700;
}

aside span {
    display: block;
    font-size: 24px;
    margin: 8px;
}
aside div:nth-child(1) {
    /* border: 1px solid red; */
    padding: 12px 20px;
    margin: 0 100px;
}
aside div:nth-child(2) {
    color: #fff;
    background-color: #000;
    border-radius: 12px;
    padding: 18px 30px;
    text-align: center;
}
