.container-fluid {

  height: 100vh;
  background-image: url(../img/pcbg.jpg);

  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;


}

body {
  position: relative;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.123);

}

.main {

  width: 80%;

  color: #fff;
  /* background-color: aquamarine; */
  margin: 0 auto;
  margin-top: -10%;
}

.top {
  /* background-color: antiquewhite; */

  position: relative;

}


.left {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  color: #eee;
}

.content {
  text-align: center;
  padding: 15px 50px;
  font-size: 2.3rem;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: #eee;
}

.wrap {
  float: right;
  color: #123;
  clear: both;
}

@media screen and (max-width: 768px) {


  .container-fluid {

    height: 100vh;
    background-image: url(../img/mbg.jpg);

    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .main {
    width: 100%;
  }

}