

#app{
	width: 1050px;
	height: 1000px;
	margin: 0 auto;
	background-color: #fffae8;
}

#res{
	color: #ff0000;
	font-weight: 900;
	font-size: 50px;
}

#btn{
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: aqua;
}