* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f3;

  /* --bg: url(https://picsum.photos/1920/600); */
  --bg: url('../img/bg1.jpg');
  --bg3: url('../img/bg3.jpg');
}

.box {
  width: 100%;
  aspect-ratio: 3/1;

  /* display: grid;
  place-items: center;
  padding-top: 33.03%;
  align-items: center; */

  background: var(--bg3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  /* overflow: hidden; */
  padding: 0;

}

.zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  width: 100%;
  text-align: center;

  /* font-size: 64px; */
}

.main {
  width: 100%;
  height: 600px;
  /* height: 100%; */
  background: var(--bg);
  /* color: #fff; */


  text-align: center;
  /* position: relative; */
  /* z-index: 0; */
  margin: 0 auto;
  margin-bottom: 100px;
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.modal h1 {
  /* width: 100%;
  height: 100%; */
  /* display: flex; */
  /* font-size: 5vw; */
  font-weight: 900;
  /* justify-content: center;
  align-items: center; */
  /* color: #000;
  text-stroke: 1px #fff;
  -webkit-text-stroke: 1px #fff;
  background: var(--bg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}



/* .main img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

section {
  background-color: #fff;
  width: 100%;
  margin: 50px 0;
  padding: 50px;

}