.main input,
.main button {
	margin-bottom: 18px;
}

.main input {
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
}

.main button {
	height: 44px;
	width: 200px;
	background-color: transparent;
	border: 1px solid #66B1FF;
	border-radius: 44px;
	font-size: 22px;

	color: #66B1FF;
}

.main button:hover {
	background-color: #66B1FF;
	color: #fff;
}

#result {
	color: #CB2D01;
	font-size: 88px;
}
