* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #FFFAE8;
}

#box {
	width: 777px;
	height: 480px;
	border: 9px dotted #CFB56A;
	margin: 188px auto;
	text-align: center;
	font-size: 18px;
}

h1 {
	color: #41A863;
	font-size: 58px;
	text-align: center;
}

.main {
	font-size: 22px;
	width: 555px;
	/* height: 168px; */
	margin: 30px auto;
	/* border: 1px solid red; */

}