label {
	display: block;
	height: 30px;
	width: 250px;
	text-align: left;
	margin: 5px auto;
}

#daxie,
#xiaoxie,
#shuzi,
#fuhao {
	height: 20px;
	width: 20px;
	margin-right: 12px;
}
/* 密码长度 */
#num {
	height: 25px;
	width: 88px;
	padding-left: 10px;
	font-size: 16px;
}
/* 生成密码按钮 */
#btn {
	margin-top: 5px;
	width: 200px;
	height: 35px;
	background-color: #0075ff;
	border: 1px solid transparent;
	border-radius: 27px;
	color: #fff;
	font-size: 21px;
	cursor: pointer;
}

#btn:hover {
	border: 1px solid #0075ff;
	color: #0075ff;
	background-color: transparent;
}

ul {
	margin: 30px auto;
}

/* 随机密码框 */
#result1,
#result2 {
	color: red;
	height: 30px;
	width: 220px;
	font-size: 20px;
	/* background-color: transparent; */
	/* border: 0; */
}

/* 复制按钮 */
.btn {
	display: inline-block;
	width: 77px;
	height: 30px;
	line-height: 30px;
	background-color: #41a863;
	color: #fff;
	text-align: center;
	border-radius: 7px;
	font-size: 18px;
	cursor: pointer;
	margin: 10px;
}


.news{
	display: inline-block;
	height: 30px;
	width: 80px;
	font-size: 16px;
	color: #4d85ff;
	/* border: 1px solid red; */
}

