body {
  background-color: #f1f2f3;
}

.box {
  /* border: 1px solid red; */
}

label {
  font-weight: 700;
}

p {
  /* color: #bb1994; */
}

footer {
  /* border: 1px solid red; */
  color: #336699;
}

footer p {
  color: #336699;
}

footer a {
  text-decoration: none;
  color: #336699;
}